<!DOCTYPE html>
<html>
<head>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <% if user_signed_in? %>
  <%= form_with url: destroy_user_session_path, method: :delete do %>
    <%= submit_tag 'Logout' %>
  <% end %>
  
  <% else %>
    <%= link_to 'Login', new_user_session_path %>
    <%= link_to 'Register', new_user_registration_path %>
  <% end %>

  <%= yield %>
</body>
</html>
